@using System.Threading.Tasks
<div class="container-fluid">
    <div class="row">
        @*<section id="left-sidebar" class="col-md-3 col-sm-3 col-lg-2 col-md-offset-1 col-lg-offset-1"/>*@
        <section id="left-sidebar" class="col-md-3 col-xs-12" style="padding-left: 20px;padding-right: 20px;padding-top: 30px;">
            <div class="panel panel-default" style="border: ridge; border-width: 2px">
                <div class="panel-heading">Panel heading without title</div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </section>
        @*<section id="main" class="col-md-5 col-md-offset-3 col-sm-6 col-lg-5 col-lg-offset-2" style="text-align: justify">*@

        <section class="col-xs-12 col-md-6" style="padding-left:30px">
            @*<div class="row">*@
            <div class="Headline01">
                @*<span style="text-align: center">Microsoft: <span class="strikethrough" style="font-weight: 100">&nbsp;vNext</span>vNow</span>*@
                <span style="text-align: center">Microsoft&nbsp;<span class="cross">&nbsp;vNext</span>&nbsp;vNow</span>
                @*<span style="text-align: center; margin-top: 50px; margin-bottom: 50px">Microsoft<span class="strikethrough" style="margin-top: 50px; margin-bottom: 50px">&nbsp;vNext </span>vNow</span>*@
            </div>

            <div>
                <img src="~/images/buildfront.jpg" class="img-responsive center-block" />
            </div>
            <div style="text-align: justify">
               N A V T E S Tamet cow brisket bresaola, chicken t-bone meatball ribeye cupim Coorned beef shank pig spare ribs sausage jowl ham cupim meatball kevin alcatra capicola leberkas. Ball tip bacon bresaola tail short ribs pork belly. Sausage ground round bresaola, filet mignon picanha biltong meatball chuck t-bone chicken salami landjaeger kielbasa. Meatball cupim turkey alcatra beef ribs hamburger pork belly swine turducken short loin kevin prosciutto.

                T-bone cow corned beef drumstick meatball tenderloin pancetta tri-tip tail. Strip steak capicola pancetta shankle biltong sirloin chicken jerky sausage salami andouille doner. Swine ham tongue turkey beef ribs drumstick jerky picanha rump cow landjaeger pastrami tri-tip. Brisket shoulder hamburger short ribs beef strip steak tri-tip tail meatball landjaeger boudin pig.

                Boudin tenderloin ham hock strip steak capicola tri-tip andouille sausage tail meatloaf pancetta. Drumstick turkey bacon tail tongue kevin filet mignon hamburger tri-tip. Shank ribeye ball tip ground round kevin kielbasa tongue. Ham hock shankle boudin bacon pork belly biltong landjaeger, beef ribs kielbasa cow shoulder strip steak kevin. Picanha venison biltong, capicola porchetta hamburger shank doner sirloin pork belly landjaeger.
            </div>
            Ribeye rump capicola biltong k
            <div class="panel panel-default">
                <div class="panel-body">
                    Basic panel example
                </div>
            </div>
        </section>
        @*<section id="right-sidebar" class="col-md- col-sm-2" style="text-align: justify; padding-right: 0" px>*@
        <section id="right-sidebar" class="col-md-3 col-xs-12" style="text-align: justify; padding-left: 30px;padding-top: 60px; padding-right: 40px;">
            @*<section id="right-sidebar" class="col-md-3 col-xs-12" style="padding-top: 60px; padding-right: 20px;">*@
            Doner rump bresaola landjaeger fatback strip steak boudin tail. Ham meatball tongue, kevin corned beef short ribs biltong. Meatloaf boudin spare ribs venison flank capicola picanha. Chicken kielbasa hamburger turkey jerky bacon short ribs tenderloin flank chuck beef.

            Filet mignon picanha turkey, beef doner shank venison spare ribs frankfurter chicken. Ribeye salami doner pig pancetta cow. Boudin fatback flank landjaeger, rump meatball beef ribs. Meatball spare ribs t-bone frankfurter jerky tenderloin sausage. Prosciutto frankfurter short ribs t-bone tenderloin picanha fatback meatball swine pastrami pig pork shoulder. Rump ham strip steak, ball tip porchetta alcatra flank frankfurter hamburger tenderloin pork loin ham hock. Strip steak hamburger turkey tenderloin.

            Doner rump beef porchetta pastrami shoulder tongue alcatra pork capicola turkey salami tri-tip. Sausage pancetta jowl, picanha kevin ground round boudin chuck tri-tip shank turducken. Cow ham tenderloin bresaola pig prosciutto fatback landjaeger boudin bacon beef beef ribs jowl shank corned beef. Sirloin bacon corned beef, capicola pork tail kevin leberkas cupim. Corned beef pancetta pork chop ribeye, shoulder ball tip kielbasa pork loin tongue cupim salami rump hamburger. Pork belly meatball sausage tail, brisket chuck biltong bresaola sirloin andouille kevin ribeye bacon kielbasa. Hamburger filet mignon boudin, ribeye chicken ball tip fatback beef ribs tail picanha pork loin.
        </section>
    </div>

</div>
<hr style="background:#F87431; border:0; height:7px" />
<footer class="container-fluid">
    <p>Text placeholders courtesy of <a href="#">Good News Travels fast</a>.</p>
</footer>
