@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutRed";}

@model Workspace.ViewModels.vmHomeIndex
<!--/////////// HEADER SECTION //////////-->
    <section id="intro" class="d-flex intro-well wow animated bounceIn">
                <div>
                    <div>
                        <h1>Hello AvantTek !!</h1>
                        <h2>Your collaboration space for technology news and views is on the way</h2>
                        @Html.ActionLink("To The Portal", "AvantTekAlpha", "Home", null, new { @class = "btn btn-info", id = "HomeLink" });
                    </div>
                </div>
</section>
<!-- LAUNCH VERSION COMMENT START -->
<!--////////// FEATURES SECTION ////////// -->
<section id="features">
    <div style="visibility: visible; animation-name: fadeIn;" class="container wow fadeIn  animated">
        <h1>How It Works?</h1>
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam scelerisque faucibus risus non iaculis. Fusce a augue ante, pellentesque pretium erat. Fusce in turpis in velit tempor pretium. Integer a leo libero.</h2>
    </div>
    <!-- /container -->
    <div class="container">
        <div class="row">
            <div class="col-md-4 wow fadeInLeft animated" data-wow-delay="0.1s">
                <div class="iconbox">
                    <a href="#" class="icn-1">Devices</a>
                </div>
                <p class="icntitle">Applications</p>
                <p class="icnp">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget elit eu velit vehicula feugiat. </p>
            </div><!-- /col-md-4 -->
            <div class="col-md-4 wow fadeInLeft animated" data-wow-delay="0.2s">
                <div class="iconbox">
                    <a href="#" class="icn-2">Intelligence</a>
                </div>
                <p class="icntitle">Intelligence</p>
                <p class="icnp">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget elit eu velit vehicula feugiat. </p>
            </div><!-- /col-md-4 -->
            <div class="col-md-4 wow fadeInLeft animated" data-wow-delay="0.3s">
                <div class="iconbox">
                    <a href="#" class="icn-3">App of Year</a>
                </div>
                <p class="icntitle">Platforms</p>
                <p class="icnp">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget elit eu velit vehicula feugiat. </p>
            </div>
        </div><!-- /col-md-4 -->
    </div><!-- /row -->
    <!-- /container -->
    <!-- /more-features -->
</section>
<!--////////// NEWSLETTER SECTION ////////// -->
<section id="newsletter" ng-app="app-email">
    <div class="container    wow animated fadeInDown" ng-controller="emailController as vm">
        <div class="row">
            <div class="col-md-12"></div>
            <h3>Inviting You To The Launch of AvantTek.com</h3>
            <div class="container-fluid">        </div>
            <div class="row">
                <div class="col-md-12">
                    <div ID="emailtest" style="padding-top: 75px" class="ng-app">
                        <form novalidate name="myForm" class="form-inline" ng-submit="vm.SendGridAlphaInterested(vm.email.text)">
                            <input type="email" name="input" class="input-lg" ng-model="vm.email.text" required>
                            <button ng-click='validateEmail()' type="submit" class="btn btn-primary">Send Me Updates</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="emErr" class="col-md-12" ng-show="myForm.input.$invalid && myForm.input.$dirty" style="font-size: 20px">A valid email is required</div>
                @*<span ng-show="myForm.input.$invalid && myForm.input.$dirty ">A valid email is required</span>*@
            </div>
        </div>
    </div>
</section>
<!--////////// DOWNLOAD SECTION ////////// -->
<section id="download">
    <div class="container wow fadeIn animated">
        <div class="row">
            <!--<div class="col-md-4">
            <h3>Ea eam mollis phaedrum, eam at appareat consetetur repudiandae,</h3>
              <a classbtn btn-primary" href="#"><li class="fa fa-apple fa-lg"></li>&nbsp;&nbsp;Download from Appstore</a>
            </div>-->
            @*<div class="col-md-8">
                    <img src="~/red/img/iphone2.jpg" class="img-responsive" alt="picture">
                </div>*@
        </div><!-- /row -->
    </div><!-- /container -->
</section>
<!--////////// FOOTER SECTION ////////// -->
@*<div class="container-fluid">
        <div class="row">
            <div class="fill-screen" style="background-image: url(/Red/img/Alpha/HomeCode.PNG)">
            </div>
        </div>

    </div*@>
<div>

</div>
<footer>
    <p>
        Copyright © 2015 Flati. Made with <i class="fa fa-heart footer-heart"></i> by Themeberry
    </p>
</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script>
    $(function () {
        $(window).on("load resize", function () {
            $(".fill-screen").css("height", window.innerHeight);
        });
    });
</script>
