
@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutRed";}

@model Workspace.ViewModels.vmHomeIndex;
<section id="intro" class="intro-well wow d-flex flex-row animated bounceIn justify-content-center" style="padding-top: 20px;padding-bottom: 20px;">
    <div class="d-flex flex-column justify-content-center">
        <div id="avantCust" class="d-flex d-row mx-3" style="margin-top: 20px;margin-bottom: 7px;">
            <img src="~/Red/img/sigbeta00.png" alt="AvantTek !" data-pin-nopin="true" />
        </div>
        <h1>web3.0 vNext:</h1>
        <!-- <h1>Adventures in Digital Transformation<h1> -->
        <div id="avantCust2" class="d-flex d-row" style="margin-top: 20px;margin-bottom: 7px;">digital eco&#8209;Spheres</div>
    </div>
</section>
<section>
    <div class="d-flex  justify-content-center">
        <p class="d-flex justify-content-center display-4 my-5" style="font-weight:500;text-align-last: center; text-align:center;letter-spacing:4px;">
            eco-Sphere Components
        </p>
    </div>

    <h2 class="d-flex justify-content-center" style="text-align-last: center; text-align:center;">
        de&#8209;centralized Networks
    </h2>
</section>
<section>
    <div style="padding-top: 40px;">
        <div class="av_content d-flex">
            <div class="d-flex justify-content-center">
                @*Heading*@
                @*3-column-block*@
                <div class="av_content flex-row d-flex">
                    @*left margin*@
                    <div class="d-flex w-10"></div>
                    @*middle text body*@
                    <div class="d-flex w-85 flex-column justify-content-center">
                        <ul class="bullRound">
                            <li style="font-size:23px;">
                                <span class="d-flex mb-3 mt-2">Digital ledgers on peer&#8209;to&#8209;peer networks eliminate the middle man and streamline transaction processing.</span>
                            </li>
                            <li style="font-size:23px;">
                                <span class="d-flex mb-3 mt-2">With no middle-man, de&#8209;centralized digital ledgers allow all parties in a supply&#8209;chain to interact with each other directly.<br>Nodes generate transactions and monitor the status of items flowing through the supply-chain process in real&#8209;time.</span>
                            </li>
                        </ul>
                    </div>
                    @* <div class="d-flex w-5"></div> *@
                </div>
            </div>ther
        </div>
        @*right margin*@
        <div class="w-5"></div>
    </div>
    <h2 class="d-flex justify-content-center" style="text-align-last: center; text-align:center;">
        Distributed Ledgers
    </h2>
    <span>here</span>
    <div class="d-flex flex-row">
        <div class="d-flex flex-row">
            <div class="d-flex w-10"></div>
            <div class="d-flex w-85 flex-column justify-content-center">
                <ul>
                    <li style="font-size:23px;">
                        <span class="d-flex mb-3 mt-2">DLT is key to the processing of information from the always-on Internet of Things and is enabling a wide range of other innovative and disruptive use cases and new eco-systems.</span>
                    </li>
                </ul>
            </div>
            <div class="d-flex w-5"></div>
        </div>
    </div>
</section>
<section>
    <div class="d-flex flex-row">
        <p class="w-5"></p>
        <p class="w-90 d-flex justify-content-center display-3  mt-5 py-5 px-3"
           style="color:white;text-align-last:center; background-color:#4F778E;">Centralization ABC's</p>
        <p class="w-5"></p>
    </div>
</section>
<section>
    <h1 class="d-flex justify-content-center" style="letter-spacing: 2px">Centralized</h1>
    <div class="d-flex flex-row m-5 justify-content-center">

        <div class="d-flex w-5">1</div>
        <div class="w-90 flex-colum mt-4 ml-4" style="font-size:23px;font-weight:500; text-align-last:center;">
            <p>
                Nearly all the Web 2.0 online publications, e&#8209;commerce, and social media platforms we use are centralized.
            </p>
        </div>
        <div class="d-flex w-5">2</div>
    </div>
    <div class="d-flex justify-content-center ml-5">
        <div class="callOuts d-flex flex-column justify-content-center">
            <img src="/Red/img/centalpha02.png" alt="Centralized" class="d-flex d-block" />
        </div>
    </div>

    @*<span class="col_ShortLine d-flex ml-5 mr-3 mb-3 mt-3"> A bank can decide to turn off its portal and online services cease to exist for all customers</span>*@


    <div class="d-flex justify-content-center">
        @*Heading*@
        @*3-column-block*@
        <div class="justify-content-center flex-row d-flex">
            @*left margin*@
            <div class="d-flex w-5"></div>
            @*middle text body*@

            <div class="d-flex">
                <div class="d-flex justify-content-center">
                    @*Heading*@
                    @*3-column-block*@
                    <div class="av_content justify-content-center flex-row d-flex">
                        @*left margin*@
                        <div class="d-flex w-10"></div>
                        @*middle text body*@
                        @*<div class="d-flex w-80 mr-5 flex-column justify-content-center">*@
                        <div class="w-80 flex-colum mt-4 ml-3" style="font-size:22px;font-weight:500;">
                            <h4 style="font-size:22px;font-weight:600;">With centralized platforms</h4>
                            @*<h4 style="font-weight:600;">Digital ledgers on de‑centralized networks have:</h4>*@
                            <ul class="d-flex flex-column">
                                <li>
                                    <span class="d-flex mb-3 mt-3">
                                        All network activity flows to and from a single processing hub: typically a cloud platform or enterprise data center
                                    </span>
                                </li>
                                <li>
                                    <span class="d-flex mb-3 mt-3">
                                        There is a single information repository controlled by the system's owner
                                    </span>
                                </li>
                                <li>
                                    <span class="d-flex mb-1 mt-3">The owning entity has control over all processing.<br>Your bank can decide to turn off its portal and online services will cease to exist for you and all other customers</span>
                                </li>
                            </ul>
                            <span class="d-flex mb-1 mt-0 ml-5 mr-5 pr-5" style="font-size: 18px;"></span>
                        </div>

                    </div>
                </div>
            </div>
            <div class="d-flex w-5"></div>
        </div>
    </div>



</section>

<section>
    <h1 class="d-flex justify-content-center" style="letter-spacing: 2px">De-Centralized</h1>
    <div class="d-flex flex-row justify-content-center">
        <div class="d-flex w-5">1</div>
        <div class="w-90 flex-colum mt-4 ml-5" style="font-size:23px;font-weight:500; text-align-last:center;">
            <p class="pb-0" style="text-align:center;">
                Crypto&#8209;currency digital ledger systems operate on highly de&#8209;centralized peer&#8209;to&#8209;peer networks.
            </p>
            <span class="pb-1" style="text-align:center;">
                Anyone can set-up a node on a public digital ledger<br>Out&#8209;of&#8209;the&#8209;box security and encryption DLT protocols make for a tamper-proof environment with strong data integrity.
            </span>
            <BR>
            @*<span class="pb-1">
                <span style="font-size:35px;text-align:center;">&#149;&#149;&#149;</span>
            </span>*@
            <div class="d-flex justify-content-center ml-5">
                <div class="callOuts d-flex flex-column justify-content-center">
                    <img src="/Red/img/centalpha02.png" alt="Centralized" class="d-flex d-block" />
                </div>
            </div>

            <p style="text-align:center;">
                Many DLT eco-spheres cannot be public and require secured services that can only be accesed by platform administrators for:
            </p>
        </div>
        <div class="d-flex w-5">2</div>
    </div>
    <div class="d-flex justify-content-center">
        @*Heading*@
        @*3-column-block*@
        <div class="justify-content-center flex-row d-flex">
            @*left margin*@
            <div class="d-flex w-5"></div>
            @*middle text body*@

            <div class="d-flex">
                <div class="d-flex justify-content-center">
                    @*Heading*@
                    @*3-column-block*@

                    @*left margin*@
                    <div class="d-flex w-5"></div>
                    @*middle text body*@
                    @*<div class="d-flex w-90 mr-5 flex-column justify-content-center">*@
                    <div class="w-80 flex-colum mt-1" style="font-size:20px;font-weight:500;">
                        <ul class="d-flex flex-column">
                            <li>
                                <span class="d-flex mb-3">
                                    Setting up distributed network nodes
                                </span>
                            </li>
                            <li>
                                <span class="d-flex mb-3 mt-3">Managing consortiums of users and devices that interact with ledgers*</span>
                            </li>
                        </ul>
                    </div>
                    <div class="d-flex w-5"></div>
                </div>
            </div>
            <div class="d-flex w-5"></div>
        </div>
    </div>
    @*<div class="d-flex justify-content-center ml-5">
        <div class="callOuts d-flex flex-column justify-content-center">
            <img src="/Red/img/centalpha02.png" alt="Centralized" class="d-flex d-block" />
        </div>
    </div>*@

    <div class="d-flex justify-content-center">
        @*Heading*@
        @*3-column-block*@
        <div class="justify-content-center flex-row d-flex">
            @*left margin*@
            <div class="d-flex w-5"></div>
            @*middle text body*@

            <div class="d-flex">
                <div class="d-flex justify-content-center">
                    @*Heading*@
                    @*3-column-block*@
                    <div class="av_content justify-content-center flex-row d-flex">
                        @*left margin*@
                        <div class="d-flex w-10"></div>
                        @*middle text body*@
                        @*<div class="d-flex w-80 mr-5 flex-column justify-content-center">*@
                        <div class="w-80 flex-colum mt-4 ml-4" style="font-size:20px;font-weight:500;">
                            <h4 style="font-weight:600;">--With centralized platforms</h4>
                            @*<h4 style="font-weight:600;">Digital ledgers on de‑centralized networks have:</h4>*@
                            <ul class="d-flex flex-column mr-5">
                                <li class="col_ShortLine">
                                    @*<h3>DeCentralized Network</h3>*@
                                    <span class="d-flex mb-3 mt-3">
                                        All network activity flows to and from a single processing hub: typically a cloud platform or enterprise data center
                                    </span>
                                </li>
                                <li class="col_ShortLine">
                                    <span class="d-flex mb-3 mt-3">There is a single information repository controlled by the system's owner</span>
                                </li>
                                <li class="col_ShortLine">
                                    <span class="d-flex mb-1 mt-3">----The owning entity has control over all processing.<br>Your bank can decide to turn off its portal and online services will cease to exist for you and all other customers</span>
                                </li>
                            </ul>
                        </div>
                        <div class="d-flex w-10"></div>
                    </div>
                </div>
            </div>
            <div class="d-flex w-5"></div>
        </div>
    </div>


</section>
<section>
</section>
<section>

    @*<span class="col_ShortLine d-flex ml-5 mr-3 mb-3 mt-3"> A bank can decide to turn off its portal and online services cease to exist for all customers</span>*@




</section>
<section>
</section>
@*page 2*@

<section>
    <div>
        @*Heading*@
        @*3-column-block*@
        <div class="av_content d-flex">
            @*left margin*@
            <div class="border10 w-10"></div>
            @*middle text body*@
            <div class="text70 w-75 flex-column">
                <p class="col_ShortLine">
                    Distributed ledger technology [DLT] was introduced when the mysterious Satoshi Nakamoto published Bitcoin: A Peer&#8209;to&#8209;Peer Electronic Cash System in October 2008 only weeks after the collapse of Lehmann Brothers.
                </p>
                <p class="col_ShortLine">
                    Two months later the Bitcoin Network went live on the Internet when a block of 50 bitcoins was “mined” by Nakamoto and sent to the computer scientist Hal Finney.
                </p>
                <p class="col_ShortLine">
                    Today, the market cap of  Bitcoin and the other top 100 crypto&#8209;currencies that operate under the engineering principles of Nakamoto’s blockchain / peer&#8209;to&#8209;peer electronic cash system.
                </p>
                <p class="col_ShortLine">
                    The success of the crypto exchanges validated distributed ledger technology and created great excitement and interest re: the potential of DLT and de&#8209;centralized networks.
                </p>
                <p class="col_ShortLine">
                    In 2015 a huge advance in the capabilities of de&#8209;centralized / blockchain&#8209;powered platforms surfaced.
                </p>

                <p class="col_ShortLine">
                    Ethereum &#8209;&#8209; a blockchain ledger with an integrated programming language was released.
                </p>

                <p class="col_ShortLine">
                    “Smart contracts” extended Ethereum’s capabilities beyond the simple exchange of financial items and moved the Web 3.0 vision toward:
                </p>
            </div>
        </div>
        <div class="d-flex w-15"></div>
    </div>
    <div>
        @*Heading*@
        @*3-column-block*@
        <div class="av_content d-flex">
            @*left margin*@
            <div class="border10 w-20"></div>
            @*middle text body*@
            <div class="d-flex w-60 flex-column m-3 justify-content-center" style="font-size: 16px; font-weight:500">
                <p class="d-flex justify-content-center">
                    a more secure, trustworthy and globally accessible internet for agreements, finance, auditing, tracking and simple websites and web applications that use decentralized technology to overcome some of the practical, political and technological inefficiencies of previous approaches
                </p>
            </div>
            <div class="test20 w-15"></div>
        </div>
        <div class="d-flex justify-content-end">
            <p class="d-flex justify-content-end" style="font-size: 14px; font-weight: 500; margin:0;">
                Gavin Wood
            </p>
            <p class="d-flex w-30"></p>
        </div>
        <div class="d-flex justify-content-end">
            <span class="d-flex justify-content-end" style="margin: 0;font-size: 14px; font-weight: 500">
                D&#8209;aps: What Web 3.0 Looks Like
            </span>
            <span class="d-flex w-30"></span>
        </div>
    </div>
</section>
<section style="padding-top: 10px">
    <div class="d-flex justify-content-center">
        <p class="icntitle p-2 m-4" style="color: #00bcf2; font-weight: 400; font-size: 38px">
            Platform Components
        </p>
    </div>
    <div class="d-flex justify-space-around justify-content-center">
        <button class="btn btn-link justify-content-center p" type="button" id="DevButton">Dev Tools</button>
        <button class="btn btn-link justify-content-center p" type="button" id="InfoButton">De&#8209;Centralized<br>Ledger</button>
        <button class="btn btn-link justify-content-center p" type="button" id="CloudButton">Cloud Hosting</button>
    </div>
</section>
<section id="features" style="padding-top: 40px">
    <div id="picTools">
        <picture class="d-flex flex-row justify-content-center">
            <source media="(min-width: 700px)" srcset="/Red/img/wordCloud.png">
            <source media="(min-width: 200px)" srcset="/Red/img/mobileWordCloud.PNG">
            <img class="cpoint" src="/Red/img/mobileWordCloud.PNG" alt="Tools" />
        </picture>
    </div>

    <div class="collapse" id="collapseExample01">
        <div class="card card-body d-flex">
            <h4 class="card-title d-flex justify-content-center">Modern Web Tools</h4>
            <div class="card-text d-flex justify-content-center">
                <div class="d-flex w-15"></div>
                <div style="font-size: 15px" class="d-flex w-70 justify-content-center icnp">
                    The release of new and innovative tools for creating mobile apps, www experiences, IOT solutions, and enterprise applications on de&#8209;centralized ledger platforms continues to grow at a phenomenal rate.<br><br>AvantTek evaluates and curates these tools and technologies for our developer's workbench and delivers news, overviews, and drill&#8209;downs on these systems development essentials for
                    today's modern digital eco&#8209;systems.
                </div>
            </div>
            <div class="d-flex w-15"></div>
        </div>
        <a href="#" class="card-link justify-content-end">x</a>
    </div>
    <div id="picEth01">
        <picture id="EthPic" class="d-flex flex-row justify-content-center">
            <source media="(min-width: 700px)" srcset="/Red/img/ether.PNG">
            <source media="(min-width: 200px)" srcset="/Red/img/mobileEther.PNG">
            <img class="cpoint" src="/Red/img/mobileEther.PNG" alt="Ethereum" />
        </picture>
    </div>
    <div class="collapse" id="collapseExample02">
        <div class="card card-body d-flex">
            <h4 class="card-title d-flex justify-content-center">Blockchain</h4>
            <div class="card-text d-flex justify-content-between">
                <div class="d-flex w-15"></div>
                <div style="font-size: 15px" class="d-flex w-75 icnp mb">
                    <div class="d-flex flex-column bd-highlight mb-3">
                        <div class="p-2 bd-highlight">In 2015 Ethereum was introduced as a breakthrough alternative to BitCoin's crypto&#8209;currency de&#8209;centralized ledger.</div>
                        <div class="p-2 bd-highlight">Ethereum extended the crypto blockchain foundation: &nbsp;<U>DE&#8209;CENTRALIZED</U>, &nbsp;&nbsp;<U>IMMUTIBLE</U>, and &nbsp;&nbsp;<U>TAMPER&#8209;PROOF</U> to create a new class of blockchain platform that understands programming languages.  "Smart contract" program code .</div>
                        <div class="p-2 bd-highlight">The integration of the dev tools at the top of our solution’s stack with canonical blockchain features and smart contract programmability has enabled customization of the Ethereum ledger to create systems that are re&#8209;shaping the operations of supply chains, parts of the fin&#8209;tech world, real estate, and a host of other industries.</div>
                        <div class="p-2 bd-highlight">That integration of Web3 tools, blockchain architecture, and smart contracts is at the heart of our digital transformation adventure</div>
                    </div>
                    @* In 2015 Ethereum was introduced as a breakthrough alternative to BitCoin's crypto&#8209;currency de&#8209;centralized ledger.  Ethereum extended the crypto blockchain foundation: de&#8209;centralizated, immutabile, and tamper&#8209;proof to create a new class of blockchain platform that understands programming languages. Ethereum transactions are processed by programs known as smart contracts.<br>The integration of the dev tools at the top of our solution’s stack with canonical blockchain features and smart contract programmability has enabled customization of the Ethereum ledger to create systems that are re&#8209;shaping the operations of supply chains, parts of the fin&#8209;tech world, real estate, and a host of other industries.<br>That integration of Web3 tools, blockchain architecture, and smart contracts is at the heart of our digital transformation adventure*@
                </div>
                <div class="d-flex w-15"></div>
            </div>
        </div>
    </div>
    <div ID="picCloud01">
        <picture class="d-flex flex-row justify-content-center">
            <source media="(min-width: 700px)" srcset="/Red/img/Azure.png">
            <source media="(min-width: 200px)" srcset="/Red/img/mobileAzure.PNG">
            <img class="cpoint" src="/Red/img/mobileAzure.PNG" alt="Cloudy" />
        </picture>
    </div>
    <div class="collapse" id="collapseExample03">
        <div class="card card-body d-flex">
            <h4 class="card-title d-flex justify-content-center">Azure Cloud: Platform as a Service</h4>
            <div class="card-text d-flex justify-content-between">
                <div class="d-flex w-15"></div>
                <div style="font-size: 15px" class="d-flex w-75 icnp mb">
                    <div class="d-flex flex-column bd-highlight mb-3">
                        <div class="p-2 bd-highlight">Azure &#8209;&#8209; Microsoft's state&#8209;of&#8209;the&#8209;art PaaS has advanced features for creating, administering and building blockchain solutions.<BR> Portal wizards simplify creating and administering Ethereum platforms and  Microsoft publishes add&#8209;ins for VisualStudioCode to jump start the set&#8209;up of Ethereum networks and developing smart contracts and dApps.</div>
                        <div class="p-2 bd-highlight">
                            Getting up to speed on Ethereum on Azure is supported with high&#8209;quality tools for coding and testing and a major library of entry level to advanced videos and documentation.
                        </div>
                        <div class="p-2 bd-highlight">
                            A great advantage of hosting Ethereum on Azure is access to other Azure based services: Logic Apps and storage services like SQL Server and Cosmos DB.<br><br>
                        </div>
                    </div>
                </div>
                <div class="d-flex w-15"></div>
            </div>
        </div>
    </div>
    <div id="solfoot" class="d-flex justify-content-center">
        <div class="d-flex w-15"></div>
        <div style="font-size: 15px" class="d-flex w-75 icnp mb">
            <div class="d-flex flex-column bd-highlight mb-3">
                <div class="p-2 bd-highlight">Combine all the richly functional modern web development tools at the top of our stack with Ethereum and Azure and our pyramid becomes a robust galaxy of tools and technologies for developing transformative de&#8209;centralized solutions</div>
            </div>
        </div>
    </div>

</section>
<footer class="d-flex justify-content-center m-3" style="padding-top: 25px; padding-bottom: 25px">
    <p>
        AvantTek Solutions Inc.  New York, NY
    </p>
</footer>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script>
    $(function () {
        $(window).on("load resize", function () {
            $(".fill-screen").css("height", window.innerHeight);
        });

    });
</script>
