@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutRed";}
@model Workspace.ViewModels.vmHomeIndex
<!--/////////// HEADER SECTION //////////-->
<section id="intro" style="border-style: solid;
                            border-color: #F1F1FF;
                            border-top-width: 7px;
                            border-left-width: 7px;
                            border-bottom-width: 15px;
                            border-right-width: 7px;">

    <div class="container" style="
    padding-bottom: 10px;
    padding-top: 25px;">
        <div class="intro-well wow animated bounceIn">
            <div class="row">
                <div class="col-md-12">
                    <h1>Hello AvantTek !!</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2 style="margin-top: 20px;margin-bottom: 7px;">Adventures in Digital Transformation</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2 style="
                             margin-bottom: 25px;
                             margin-top: 0px;">
                        Frameworks  &amp;  Tools --  Overviews  &  Drill-Downs
                    </h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!--////////// FEATURES SECTION ////////// -->
<section id="features">
    <!-- <div style="visibility: visible; animation-name: fadeIn;" class="container wow fadeIn  animated"> -->
    <div class="container">
        <div class="row">
            <div class="col">
                <!-- <div id="h2a">Frontiers of Technology Moving Fast !!!</div>  -->
                <!-- <div Style="padding-bottom: 35px; color: black;font-size: 21px;font-weight: 325;">AvantTek  --  All About Advanced Technology</h1> -->
                <h1 style="padding-bottom: 35px; color: black; font-size: 27px;">Frontiers of Technology -- Moving Fast !!!</h1>
                <!-- </div> -->
                <!-- </div> -->
            </div>
        </div>
        <!-- /container -->
        <div class="container">
            <!-- check git -->
            <div class="row">
                <div class="col-md-4 wow fadeInLeft animated" data-wow-delay="0.1s">
                    <div class="iconbox">
                        <a href="#" class="icn-1">Platforms</a>
                    </div>
                    <p class="icntitle">Platforms</p>
                    <p class="icnp">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget elit eu velit vehicula feugiat. </p>
                </div><!-- /col-md-4 -->
                <div class="col-md-4 wow fadeInLeft animated" data-wow-delay="0.2s">
                    <a href="#" class="icn-2">Modern Web Solutions</a>
                </div>
                <p class="icntitle">Distributed Apps</p>
                <p class="icnp">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget elit eu velit vehicula feugiat. </p>
            </div>
            <div class="col-md-4 wow fadeInLeft animated" data-wow-delay="0.3s">
                <div class="iconbox">
                    <a href="#" class="icn-3">Distributed Apps</a>
                </div>
                <p class="icntitle">Distributed Apps</p>
                <p class="icnp">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget elit eu velit vehicula feugiat. </p>
            </div>
        </div><!-- /row -->
    </div>
    <!-- /container -->
    <!-- /more-features -->
</section>
<!--////////// NEWSLETTER SECTION ////////// -->
<section id="newsletter" Style="background: maroon">
    <div class="container wow animated fadeInDown">
        <div class="row">
            <div class="col-sm-12">
                <div Style="padding-bottom: 35px; color: white;font-size: 24px;font-weight: 300">AvantTek  --  All About Advanced Technology</div>
            </div>
        </div>
</section>

<!--////////// FOOTER SECTION ////////// -->
<footer>
    <p>
        Copyright © 2015 Flati. Made with <i class="fa fa-heart footer-heart"></i> by Themeberry
    </p>
</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script>
    $(function () {
        $(window).on("load resize", function () {
            $(".fill-screen").css("height", window.innerHeight);
        });
    });
</script>
