@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutRed";}

@model Workspace.ViewModels.vmHomeIndex;
<style>
    img {
        max-width: 100%;
        height: auto;
        vertical-align: bottom;
    }
</style>
<section id="intro" class="intro-well wow d-flex flex-row animated bounceIn justify-content-center" style="padding-top: 60px;padding-bottom: 65px;">
    <div class="d-flex flex-column justify-content-center">
        <div id="avantCust" class="d-flex d-row" style="margin-top: 20px;margin-bottom: 7px;">
            <img src="~/Red/img/sigbeta00.png" title="Core Components" data-pin-nopin="true" />
        </div>
        <h1>web3.0 vNext:</h1>
        <!-- <h1>Adventures in Digital Transformation<h1> -->
        <div id="avantCust" class="d-flex d-row" style="margin-top: 20px;margin-bottom: 7px;">digital eco&#8209;Spheres</div>
        
    </div>    
</section>

<section>
    <div style="padding-top: 40px;">
        <div  class="av_content d-flex">
            @*left margin*@
            <div class="border30 w-5"></div>
            @*middle text body*@
            <div class="text70 w-90 d-flex justify-content-center">
                <div class="d-flex flex-column">
                    <p class="d-flex justify-content-center display-4" style="text-align-last: center; text-align:center">
                        Distributed Ledger Platforms
                    </p>
                    <p class="d-flex justify-content-center display-4"  style="text-align-last: center; text-align:center">
                        on
                    </p>
                    <p class="d-flex justify-content-center display-4 mb-5"  style="text-align-last: center; text-align:center">
                        De-Centralized Networks
                    </p>
                </div>
            </div>
            @*right margin*@
                 <div class="w-5"></div>
            </div>
        </div>
    <div>
  </div>
</section>
<section>
    <div>
        @*Heading*@
        @*3-column-block*@
        <div class="av_content d-flex">
            @*left margin*@
            <div class="d-flex w-15"></div>
            @*middle text body*@
            <div class="d-flex w-70 flex-column" style="background-color:#A1A5A6;">
                    <span class="d-flex col_ShortLine ml-3 mt-5 mb-1" style="font-size:25px">ecoSphere Components:</span>
                    <ul class="d-flex flex-column">
                        <li class="col_ShortLine">
                            <span><b>DeCentralized Networks</b></span>
                            <span class="d-flex mb-3 mt-3">Peer-to-peer networks hosting digital ledgers streamline the processing of financal transactions</span>
                            <span>Supply-chain management processes are optimized and more secure after migrating to Web 3.0 platforms.</span>
                        </li>
                        <li class="col_ShortLine mb-5 mt-3">
                            <span><b>Distributed Ledgers</b></span>
                            <span class="d-flex mb-3 mt-2">DLT is key to the processing of information from the always-on Internet of Things</span>
                            <span>The creation of the nearly $1.5 billion e-sports entertainment industry was un-imaginable without de-centralization.</span>
                        </li>
                    </ul>   
                </div>
        <div class="d-flex w-15"></div>
    </div>
</div>
</section>
<section>
    <div class="d-flex justify-content-center display-4 m-5" style="text-align:center; font-weignt:800;">
        Centralized vs DeCentralized
    </div>
    <h2 class="d-flex justify-content-center">Centralized Platforms</h2>
    <div class="d-flex flex-row">
        <div class="d-flex w-10">1</div>
        <div class="text70 w-80 flex-column justify-content-center">
            <p class="d-flex justify-content-center col_ShortLine" style="font-size:25px; text-align: center;">
                The Web 2.0 online publications,  e-commerce, and social media platforms that we use are almost all centralized.
            </p>
        </div>
        <div class="d-flex w-10">2</div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="callOuts d-flex flex-column justify-content-center">
            <img src="/Red/img/centalpha02.png" alt="Centralized" class="d-block" />
            @* <h3 class="d-flex justify-content-center">Centralized</h3> *@
        </div>
    </div>
    <div class="d-flex flex-row">
        <div class="d-flex w-10">1</div>
        <div class="text70 w-80 flex-column justify-content-center">
            <p class="d-flex justify-content-center col_ShortLine" style="font-size:25px; text-align: center;">
                Centralized systems require all information be routed in and out of the network via a central hub, which in most cases, is a private server.  Owners of those systems have control over all processing.  Your bank can decide to turn off its portal and your online services with the bank will cease to exist
            </p>
        </div>
        <div class="d-flex w-10">2</div>
    </div>
    <div>
        <div class="d-flex flex-row">
        <div class="d-flex w-10">1</div>
        <div class="text70 w-80 flex-column justify-content-center">
                <p class="d-flex justify-content-center col_ShortLine" style="font-size:25px; text-align: center;">
                One of the most powerful characteristic of Distributed Ledger Technology on de-centralized / peer to peer networks is disintermediation
               </p>
        </div>
        <div class="d-flex w-10">2</div>
    </div>
     <div class="text70 w-80 d-flex flex-column"style="font-size:25px">
        <ul>
                <li>
                    Centralized systems require all information be routed in and out of the network via a central hub, which in most cases, is a private server
               </li>
               <li>
                    Owners of those systems have control over all processing.
               </li>
               <li>
                    Your bank can decide to turn off its portal and your online services with the bank will cease to exist
               </li>
        </ul>
    </div>
     <div>
        <div class="d-flex flex-row">
        <div class="d-flex w-10">1</div>
        @* <div class="text70 w-80 flex-column justify-content-center"> *@
        <ul class="text70 w-80 d-flex flex-column"style="font-size:25px; align-content:center">
                <li class="d-flex">
                    Centralized systems require all information be routed in and out of the network via a central hub, which in most cases, is a private server
               </li>
               <li class="d-flex">
                    Owners of those systems have control over all processing.
               </li>
               <li class="d-flex">
                    Your bank can decide to turn off its portal and your online services with the bank will cease to exist
               </li>
        </ul>
    </div>
        <div class="d-flex w-10">2</div>
    </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="callOuts d-flex flex-column justify-content-center">
            <img src="/Red/img/togaDisintermediation.jpg" alt="Disintermediation"  class="d-block" />
            @* <h3 class="d-flex justify-content-center">Centralized</h3> *@
        </div>
    </div>
    <div class="d-flex flex-row">
        <div class="d-flex w-10">1</div>
        <div class="text70 w-80 flex-column justify-content-center">
            <p class="d-flex justify-content-center col_ShortLine" style="font-size:25px; text-align: center;">
                 One of the most powerful characteristic of Distributed Ledger Technology on de-centralized  / peer to peer networks is disintermediation -- a reduction in the use of intermediaries between producers and consumers.
            </p>
        </div>
        <div class="d-flex w-10">2</div>
    </div>
    <div class="d-flex flex-row">
        <div class="d-flex justify-content-center">
            <div class="callOuts d-flex flex-column justify-content-center">
                <img src="/Red/img/togaDisintermediation.jpg" alt="Disintermediation" class="d-block justify-content-center" />
                <h3 class="d-flex justify-content-center">Centralized</h3>
            </div>
            <p class="d-flex">
                     xxOne of the most powerful characteristic of Distributed Ledger Technology on de-centralized / peer to peer networks is disintermediation
               </p>
               <p class="d-flex">
                     One of the most powerful characteristic of Distributed Ledger Technology on de-centralized / peer to peer networks is disintermediation
               </p>
        </div>
    </div>
    <div class="d-flex flex-row">
        <div class="d-flex w-10">1</div>
        <div class="text70 w-80 flex-column justify-content-center">
            <p class="d-flex justify-content-center col_ShortLine" style="font-size:25px; text-align: center;">
                 One of the most powerful characteristic of Distributed Ledger Technology on de-centralized  / peer to peer networks is disintermediation -- a reduction in the use of intermediaries between producers and consumers.
            </p>
        </div>
        <div class="d-flex w-10">2</div>
    </div>
    <div class="d-flex flex-row">
        <div class="d-flex justify-content-center">
            <div class="callOuts d-flex flex-column justify-content-center">
                <img src="/Red/img/togaDisintermediation.jpg" alt="Disintermediation" class="d-block justify-content-center" />
                <h3 class="d-flex justify-content-center">Centralized</h3>
            </div>
        </div>
    </div>
    @*<div  class="d-flex flex-row">
                <div class="d-flex w-10">1</div>
                <div class="text70 w-80 flex-column justify-content-center">
                    <p class="d-flex justify-content-center col_ShortLine" style="font-size:25px; text-align: center;">
                        Centralized systems require all information be routed in and out of the network via a central hub, which in most cases, is a private server.  Owners of those systems have control over all processing.  Your bank can decide to turn off its portal and your online services with the bank will cease to exist</p>
                </div>
                <div class="d-flex w-10">2</div>
            <div>
        </div>*@
    @*<div class="d-flex flex-row">
                <div class="d-flex w-10">1</div>
                <div class="text70 w-80 flex-column justify-content-center">
                    <p class="d-flex justify-content-center col_ShortLine" style="font-size:25px; text-align: center;">
                       Dis-Intermediation
                </div>
                <div class="d-flex w-10">2</div>
            </div>
            <div class="d-flex justify-content-center">
                <div class="callOuts d-flex flex-column justify-content-center m-5">
                    <img src="/Red/img/decentMap.png" alt="Decent" class="d-block" />
                    <h3 class="d-flex justify-content-center">De-Centralized</h3>
                </div>
            </div>
            <div class="d-flex flex-row">
                <div class="d-flex w-10">1</div>
                <div class="text70 w-80 flex-column justify-content-center">
                    <p class="d-flex justify-content-center col_ShortLine" style="font-size:25px; text-align: center;">
                        Centralized systems require all information be routed in and out of the network via a central hub, which in most cases, is a private server.  Owners of those systems have control over all processing.  Your bank can decide to turn off its portal and your online services with the bank will cease to exist</p>
                </div>

                <div class="d-flex w-10">2</div>
            </div>
        </div>*@
</section>
<section>
    <div>
        @*Heading*@
        @*3-column-block*@
        <div class="av_content d-flex">
            @*left margin*@
            <div class="border10 w-10"></div>
            @*middle text body*@
            <div class="text70 w-75 flex-column">
                <p class="col_ShortLine">
                    Distributed ledger technology [DLT] was introduced when the mysterious Satoshi Nakamoto published Bitcoin: A Peer&#8209;to&#8209;Peer Electronic Cash System in October 2008 only weeks after the collapse of Lehmann Brothers.
                </p>
                <p class="col_ShortLine">
                    Two months later the Bitcoin Network went live on the Internet when a block of 50 bitcoins was “mined” by Nakamoto and sent to the computer scientist Hal Finney.
                </p>
                <p class="col_ShortLine">
                    Today, the market cap of  Bitcoin and the other top 100 crypto&#8209;currencies that operate under the engineering principles of Nakamoto’s blockchain / peer&#8209;to&#8209;peer electronic cash system.
                </p>
                <p class="col_ShortLine">
                    The success of the crypto exchanges validated distributed ledger technology and created great excitement and interest re: the potential of DLT and de&#8209;centralized networks.
                </p>
                <p class="col_ShortLine">
                    In 2015 a huge advance in the capabilities of de&#8209;centralized / blockchain&#8209;powered platforms surfaced.
                </p>

                <p class="col_ShortLine">
                    Ethereum &#8209;&#8209; a blockchain ledger with an integrated programming language was released.
                </p>

                <p class="col_ShortLine">
                    “Smart contracts” extended Ethereum’s capabilities beyond the simple exchange of financial items and moved the Web 3.0 vision toward:
                </p>
            </div>
        </div>
        <div class="d-flex w-15"></div>
    </div>
    <div>
        @*Heading*@
        @*3-column-block*@
        <div class="av_content d-flex">
            @*left margin*@
            <div class="border10 w-20"></div>
            @*middle text body*@
            <div class="d-flex w-60 flex-column m-3 justify-content-center" style="font-size: 16px; font-weight:500">
                <p class="d-flex justify-content-center">
                    a more secure, trustworthy and globally accessible internet for agreements, finance, auditing, tracking and simple websites and web applications that use decentralized technology to overcome some of the practical, political and technological inefficiencies of previous approaches
                </p>
            </div>      
            <div class="test20 w-15"></div>
        </div> 
        <div class="d-flex justify-content-end">
            <p class="d-flex justify-content-end" style="font-size: 14px; font-weight: 500; margin:0;">
                Gavin Wood
            </p>
            <p class="d-flex w-30"></p>
        </div>
        <div class="d-flex justify-content-end">
            <span class="d-flex justify-content-end" style="margin: 0;font-size: 14px; font-weight: 500">
                     D&#8209;aps: What Web 3.0 Looks Like
            </span>
            <span class="d-flex w-30"></span>
        </div>
    </div>
</section>
<section style="padding-top: 10px">
    <div class="d-flex justify-content-around flex-wrap m-5">
        <div class="callOuts d-flex flex-column justify-content-center">
            <img src="/Red/img/centalpha02.png" alt="Centralized" class="d-block" />
            <h3 class="d-flex justify-content-center">Centralized</h3>
            <p class="d-flex justify-content-center">For the centralized</p>
        </div>
        <div class="callOuts d-flex flex-column justify-content-center">
            <img src="/Red/img/deCentAlpha02.png" alt="Centralized" class="d-block" />
            <h3 class="d-flex justify-content-center">De-Centralized</h3>
            <p class="d-flex justify-content-center">De Centralized</p>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <p class="icntitle p-2 m-4" style="color: #00bcf2; font-weight: 400; font-size: 38px">
            Platform Components
        </p>
    </div>
    <div class="d-flex justify-space-around justify-content-center">
        <button class="btn btn-link justify-content-center p" type="button" id="DevButton">Dev Tools</button>
        <button class="btn btn-link justify-content-center p" type="button" id="InfoButton">De&#8209;Centralized<br>Ledger</button>
        <button class="btn btn-link justify-content-center p" type="button" id="CloudButton">Cloud Hosting</button>
    </div>
</section>
<section id="features" style="padding-top: 40px">
    <div id="picTools">
        <picture class="d-flex flex-row justify-content-center">
            <source media="(min-width: 700px)" srcset="/Red/img/wordCloud.png">
            <source media="(min-width: 200px)" srcset="/Red/img/mobileWordCloud.PNG">
            <img class="cpoint" src="/Red/img/mobileWordCloud.PNG" alt="Tools" />
        </picture>
    </div>

    <div class="collapse" id="collapseExample01">
        <div class="card card-body d-flex">
            <h4 class="card-title d-flex justify-content-center">Modern Web Tools</h4>
            <div class="card-text d-flex justify-content-center">
                <div class="d-flex w-15"></div>
                <div style="font-size: 15px" class="d-flex w-70 justify-content-center icnp">
                    The release of new and innovative tools for creating mobile apps, www experiences, IOT solutions, and enterprise applications on de&#8209;centralized ledger platforms continues to grow at a phenomenal rate.<br><br>AvantTek evaluates and curates these tools and technologies for our developer's workbench and delivers news, overviews, and drill&#8209;downs on these systems development essentials for
                    today's modern digital eco&#8209;systems.
                </div>
            </div>
            <div class="d-flex w-15"></div>
        </div>
        <a href="#" class="card-link justify-content-end">x</a>
    </div>
    <div id="picEth01">
        <picture id="EthPic" class="d-flex flex-row justify-content-center">
            <source media="(min-width: 700px)" srcset="/Red/img/ether.PNG">
            <source media="(min-width: 200px)" srcset="/Red/img/mobileEther.PNG">
            <img class="cpoint" src="/Red/img/mobileEther.PNG" alt="Ethereum" />
        </picture>
    </div>
    <div class="collapse" id="collapseExample02">
        <div class="card card-body d-flex">
            <h4 class="card-title d-flex justify-content-center">Blockchain</h4>
            <div class="card-text d-flex justify-content-between">
                <div class="d-flex w-15"></div>
                <div style="font-size: 15px" class="d-flex w-75 icnp mb">
                    <div class="d-flex flex-column bd-highlight mb-3">
                        <div class="p-2 bd-highlight">In 2015 Ethereum was introduced as a breakthrough alternative to BitCoin's crypto&#8209;currency de&#8209;centralized ledger.</div>
                        <div class="p-2 bd-highlight">Ethereum extended the crypto blockchain foundation: &nbsp;<U>DE&#8209;CENTRALIZED</U>, &nbsp;&nbsp;<U>IMMUTIBLE</U>, and &nbsp;&nbsp;<U>TAMPER&#8209;PROOF</U> to create a new class of blockchain platform that understands programming languages.  "Smart contract" program code .</div>
                        <div class="p-2 bd-highlight">The integration of the dev tools at the top of our solution’s stack with canonical blockchain features and smart contract programmability has enabled customization of the Ethereum ledger to create systems that are re&#8209;shaping the operations of supply chains, parts of the fin&#8209;tech world, real estate, and a host of other industries.</div>
                        <div class="p-2 bd-highlight">That integration of Web3 tools, blockchain architecture, and smart contracts is at the heart of our digital transformation adventure</div>
                    </div>
                    @* In 2015 Ethereum was introduced as a breakthrough alternative to BitCoin's crypto&#8209;currency de&#8209;centralized ledger.  Ethereum extended the crypto blockchain foundation: de&#8209;centralizated, immutabile, and tamper&#8209;proof to create a new class of blockchain platform that understands programming languages. Ethereum transactions are processed by programs known as smart contracts.<br>The integration of the dev tools at the top of our solution’s stack with canonical blockchain features and smart contract programmability has enabled customization of the Ethereum ledger to create systems that are re&#8209;shaping the operations of supply chains, parts of the fin&#8209;tech world, real estate, and a host of other industries.<br>That integration of Web3 tools, blockchain architecture, and smart contracts is at the heart of our digital transformation adventure*@
                </div>
                <div class="d-flex w-15"></div>
            </div>
        </div>
    </div>
    <div ID="picCloud01">
        <picture class="d-flex flex-row justify-content-center">
            <source media="(min-width: 700px)" srcset="/Red/img/Azure.png">
            <source media="(min-width: 200px)" srcset="/Red/img/mobileAzure.PNG">
            <img class="cpoint" src="/Red/img/mobileAzure.PNG" alt="Cloudy" />
        </picture>
    </div>
    <div class="collapse" id="collapseExample03">
        <div class="card card-body d-flex">
            <h4 class="card-title d-flex justify-content-center">Azure Cloud: Platform as a Service</h4>
            <div class="card-text d-flex justify-content-between">
                <div class="d-flex w-15"></div>
                <div style="font-size: 15px" class="d-flex w-75 icnp mb">
                    <div class="d-flex flex-column bd-highlight mb-3">
                        <div class="p-2 bd-highlight">Azure &#8209;&#8209; Microsoft's state&#8209;of&#8209;the&#8209;art PaaS has advanced features for creating, administering and building blockchain solutions.<BR> Portal wizards simplify creating and administering Ethereum platforms and  Microsoft publishes add&#8209;ins for VisualStudioCode to jump start the set&#8209;up of Ethereum networks and developing smart contracts and dApps.</div>
                        <div class="p-2 bd-highlight">
                            Getting up to speed on Ethereum on Azure is supported with high&#8209;quality tools for coding and testing and a major library of entry level to advanced videos and documentation.
                        </div>
                        <div class="p-2 bd-highlight">
                            A great advantage of hosting Ethereum on Azure is access to other Azure based services: Logic Apps and storage services like SQL Server and Cosmos DB.<br><br>
                        </div>
                    </div>
                </div>
                <div class="d-flex w-15"></div>
            </div>
        </div>
    </div>
    <div id="solfoot" class="d-flex justify-content-center">
        <div class="d-flex w-15"></div>
        <div style="font-size: 15px" class="d-flex w-75 icnp mb">
            <div class="d-flex flex-column bd-highlight mb-3">
                <div class="p-2 bd-highlight">Combine all the richly functional modern web development tools at the top of our stack with Ethereum and Azure and our pyramid becomes a robust galaxy of tools and technologies for developing transformative de-centralized solutions</div>
            </div>
        </div>
    </div>

</section>
<footer class="d-flex justify-content-center m-3" style="padding-top: 25px; padding-bottom: 25px">
    <p>
        AvantTek Solutions Inc.  New York, NY
    </p>
</footer>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script>
    $(function () {
        $(window).on("load resize", function () {
            $(".fill-screen").css("height", window.innerHeight);
        });

    });
</script>