@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutRed";}

@model Workspace.ViewModels.vmHomeIndex;
<section id="intro" class="intro-well wow d-flex flex-row animated bounceIn justify-content-center" style="padding-top: 20px;padding-bottom: 20px;">
    @*<div class="d-flex">
            <span class="my-1">
                <span style="font-size:35px;text-align:center;">&#9642;&#9642;&#9642;</span>
            </span>
        </div>*@
    <div class="d-flex flex-column justify-content-center">
        <div id="avantCust" class="d-flex d-row mx-3" style="margin-top: 20px;margin-bottom: 7px;">
            <img src="~/Red/img/sigbeta00.png" alt="AvantTek !" data-pin-nopin="true" />
        </div>
        <h1>web3.0 vNext:</h1>
        <!-- <h1>Adventures in Digital Transformation<h1> -->
        <div id="avantCust2" class="d-flex d-row" style="margin-top: 20px;margin-bottom: 7px;">digital eco&#8209;Spheres</div>
    </div>
</section>
<section>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Testing Digital Transformations>></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link border border-dark" style="border-width:medium;font-size:18px; font-weight:600; color:black;" href='@Url.Action("Index","Home")'>Modern Web...<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link border border-dark" style="border-width:medium;font-size:18px; font-weight:600; color:black;" href='@Url.Action("Solution","Home")'>Distributed Ledger Platforms...</a>
                </li>
            </ul>
        </div>
    </nav>
</section>
<section>
    <div class="d-flex  justify-content-center">
        <p class="d-flex justify-content-center display-4 my-5" style="font-weight:500;text-align-last: center; text-align:center;letter-spacing:4px;">
            eco-Sphere Components
        </p>
    </div>

    <h2 class="d-flex justify-content-center" style="text-align-last: center; text-align:center;">
        de&#8209;centralized Networks
    </h2>
</section>
<section>
    <div style="padding-top: 40px;">
        <div class="av_content d-flex">
            <div class="d-flex justify-content-center">
                @*Heading*@
                @*3-column-block*@
                <div class="av_content flex-row d-flex">
                    @*left margin*@
                    <div class="d-flex w-10"></div>
                    @*middle text body*@
                    <div class="d-flex w-85 flex-column justify-content-center">
                        <ul>
                            <li style="font-size:23px;">
                                <span class="d-flex mb-3 mt-2">De-centralized peer&#8209;to&#8209;peer networks are essential for building and operating web 3.0 distributed ledgers and modern digital eco&#8209;Spheres</span>
                            </li>
                            <li style="font-size:23px;">
                                <span class="d-flex mb-3 mt-2">Nodes on P2P networks interact with each other directly.&ensp;The use of intermediaries and middle&#8209;men can be avoided</span>
                            </li>
                            <li style="font-size:23px;">
                                <span class="d-flex mb-3 mt-2">With no middle&#8209;men, transaction processing is streamlined and the state of the ledger can be viewed in real&#8209;time from any node.</span>
                            </li>
                        </ul>
                    </div>
                    <div class="d-flex w-5"></div>
                </div>
            </div>
        </div>
        @*right margin*@
        <div class="w-5"></div>
    </div>
    <h2 class="d-flex justify-content-center" style="text-align-last: center; text-align:center;">
        Distributed Ledgers
    </h2>
    <span>here</span>
    <div class="d-flex flex-row">
        <div class="d-flex flex-row">
            <div class="d-flex w-10"></div>
            <div class="d-flex w-85 flex-column justify-content-center">
                <ul>
                    <li style="font-size:23px;">
                        <span class="d-flex mb-3 mt-2">Distributed Ledger Technology is key to processing information from the always-on Internet of Things and is inspiring the creation of a wide wide range of other new innovative and disruptive services and eco-systems.</span>
                    </li>
                </ul>
            </div>
            <div class="d-flex w-5"></div>
        </div>
    </div>
</section>
<section>
    <div class="d-flex flex-row">
        <p class="w-5"></p>
        <p class="w-90 d-flex justify-content-center display-3  mt-5 py-5 px-3"
           style="color:white;text-align-last:center;text-align:center; background-color:#4F778E;">Centralization ABC's</p>
        <p class="w-5"></p>
    </div>
</section>
<section>
    <h1 class="d-flex justify-content-center" style="letter-spacing: 2px;text-align:center">Legacy Systems on Centralized Networks</h1>
    <div class="d-flex flex-row m-5 justify-content-center">
        <div class="d-flex w-5">1</div>
        <div class="w-90 flex-colum mt-4 ml-4" style="font-size:23px;font-weight:500; text-align-last:center;">
            <p>
                Nearly all the Web 2.0 online publications, e&#8209;commerce, and social media platforms we use are centralized.
            </p>
        </div>
        <div class="d-flex w-5">2</div>
    </div>
    @*<div class="callOuts d-flex flex-column justify-content-center">*@
    <span class="d-flex justify-content-center">
        <img src="/Red/img/centalpha02.png" alt="Centralized" class="d-flex d-block mb-2" />
    </span>
    @*</div>*@
    @*<div class="d-flex justify-content-center">*@
    <div class="d-flex">

        <div class="d-flex">
            <div class="d-flex justify-content-center">
                @*Heading*@
                @*3-column-block*@
                @*<div class="av_content justify-content-center flex-row d-flex">*@
                <div class="av_content flex-row d-flex">
                    @*left margin*@
                    <div class="d-flex w-10"></div>
                    @*middle text body*@
                    @*<div class="d-flex w-80 flex-column justify-content-center">*@
                    <div class="w-80 flex-colum mt-4" style="font-size:22px;font-weight:500;">
                        <h4 style="font-size:22px;font-weight:600;">With centralized platforms</h4>
                        @*<h4 style="font-weight:600;">Digital ledgers on de‑centralized networks have:</h4>*@
                        <ul class="d-flex flex-column">
                            <li>
                                <span class="d-flex mb-3 mt-3">
                                    All network activity flows to and from a single processing hub: typically a cloud platform or enterprise data center
                                </span>
                            </li>
                            <li>
                                <span class="d-flex mb-3 mt-3">
                                    Databases and all other information repositories are controlled by the system's owner
                                </span>
                            </li>
                            <li>
                                @* <span class="d-flex mb-1 mt-3">The owning entity has control over all processing.<br>Your bank can decide to turn off its portal and online services will cease to exist for you and all other customers</span>
                                    <span class="d-flex mx-5">wtf</span> *@
                                <span class="d-flex mb-1 mt-3">The owning entity has control over all processing.<br></span>
                                <span class="d-flex mb-1 mt-3 pr-3 mr-5" style="font-size:19px">Your bank can decide to turn off its portal and online services will cease to exist for you and all other customers</span>
                            </li>
                        </ul>

                    </div>
                    <div class="d-flex w-10"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <h1 class="d-flex justify-content-center" style="letter-spacing: 2px">De-Centralized</h1>

    <div class="d-flex flex-row justify-content-center">
        <div class="d-flex w-10">1</div>
        <div class="w-80 flex-column mt-4" style="font-size:23px;font-weight:500;text-align:center;">
            <p class="pb-0 my-1">
                A highly de&#8209;Centralized peer&#8209;to&#8209;peer network is required for the operation of a digital ledger technology platform.
                @* de&#8209;Centralized peer&#8209;to&#8209;peer networks are the indespensable operating platforms for digital ledger technology *@
            </p>
            <span class="my-1">
                <span style="font-size:35px;text-align:center;">&#9642;&#9642;&#9642;</span>
            </span>
            <br />
            <span class="pb-1 my-1 ">
                Anyone can set-up a secure distributed node on a public digital ledger
            </span>
            <br />
            <span class="my-1">
                <span style="font-size:35px;text-align:center;">&#9642;&#9642;&#9642;</span>
            </span>
            <br />
            <span class="pb-1 mb5 my-1 ">
                Out&#8209;of&#8209;the&#8209;box DLT security and encryption protocols simplify setting-up tamper-proof processing environments with strong data integrity.
            </span>
            <BR>
            <span class="my-1">
                <span style="font-size:35px;text-align:center;">&#9642;&#9642;&#9642;</span>
            </span>
            <br />
            @*<span class="pb-1">
                <span style="font-size:35px;text-align:center;"> &#9726;&#9726;&#9726;</span>
                @*</span>*@
            <br />

            <p class="d-flex m-5 justify-content-center" style="text-align:center">
                Many DLT platforms cannot be public.&nbsp;&nbsp;&nbsp;They require secured services that can only be accessed by admins for managing the network and administering users and IOT nodes.
            </p>
        </div>
        <div class="d-flex w-10">2</div>
    </div>
    <div class="d-flex p-0 m-0 justify-content-center">
        <div class="callOuts d-flex flex-column mb-0 justify-content-center">
            <img src="/Red/img/decentalpha02.png" alt="deCentralized" class="d-flex d-block" />
        </div>
    </div>
    <div class="d-flex p-0 mb-5 justify-content-center">
        <span class="d-flex w-25">1</span>
        @* <span class="d-flex justify-content-center p-0 m-0 w-50">*@
        <h5 class="d-flex m-0;p-0" style="text-align:center; text-align-last:center;">de-Centralized / P2P Network </h5>
        @* </span>*@
        <span class="d-flex w-25">3</span>
    </div>
    <h4 style="font-size:22px;text-align:center;font-weight:600;">DeCentralized Networks and Digital Ledgers</h4>
    <h4 style="font-size:22px;text-align:center;font-weight:600;">A Perfect Fit</h4>
    @*<div class="d-flex justify-content-center">*@
    @*Heading*@

    @*3-column-block*@
    <div class="av_content justify-content-center flex-row d-flex">
        @*left margin*@
        <div class="w-10"></div>
        <div class="w-80">
            @*<h4 style="font-weight:600;">Digital ledgers on de‑centralized networks have:</h4>*@
            <ul class="d-flex flex-column" style="font-size:22px;">
                <li>
                    <span class="d-flex mb-3 mt-3">
                        Digital ledgers on de-Centralized networks enable disintermediation -- a reduction in the use of intermediaries between producers and consumers. Benefits of disintermediation include: No single point of failure in the network, no central administrative authority, elimination of transaction fees

                    </span>
                </li>
                <li>
                    <span class="d-flex mb-3 mt-3">
                        DLT platforms are immutable. Once transactions are committed as ledger entries they are very hard to change, almost impossible. Data stored on the ledger is generally considered incoruptible
                    </span>
                </li>
                <li>
                    <span class="d-flex mb-3 mt-3">
                        Ledger platform protocols use advanced hashing and encryption methods to guarantee transactions and ledger entries cannot be tampered with during creation and are immutible after they become ledger entries. Encrypted digital signatures insure non‑repudiation -- the assurance that ledger object creators cannot successfully dispute ledger page or transaction authorship
                    </span>
                </li>
            </ul>
        </div>

        <div class="d-flex w-10"></div>
    </div>
</section>
@*page 2*@

<section>
    <div class="d-flex flex-row">
        <p class="w-5"></p>
        <p class="w-90 d-flex justify-content-center display-3  mt-5 py-5 px-3"
           style="color:white;text-align-last:center;text-align:center; background-color:#955937;">The History</p>
        <p class="w-5"></p>
    </div>
</section>
<section>
    <div>
        @*Heading*@
        @*3-column-block*@
        <div class="av_content d-flex">
            @*left margin*@
            <div class="border10 w-10"></div>
            @*middle text body*@
            <div class="text70 w-75 flex-column">
                <p class="col_ShortLine">
                    Distributed ledger technology [DLT] was introduced when the mysterious Satoshi Nakamoto published Bitcoin: A Peer&#8209;to&#8209;Peer Electronic Cash System in October 2008 only weeks after the collapse of Lehmann Brothers.
                </p>
                <p class="col_ShortLine">
                    Two months later the Bitcoin Network went live on the Internet when a block of 50 bitcoins was “mined” by Nakamoto and sent to the computer scientist Hal Finney.
                </p>
                <p class="col_ShortLine">
                    Today, the market cap of  Bitcoin and the other top 100 crypto&#8209;currencies that operate under the engineering principles of Nakamoto’s blockchain / peer&#8209;to&#8209;peer electronic cash system.
                </p>
                <p class="col_ShortLine">
                    The success of the crypto exchanges validated distributed ledger technology and created great excitement and interest re: the potential of DLT and de&#8209;centralized networks.
                </p>
                <p class="col_ShortLine">
                    In 2015 a huge advance in the capabilities of de&#8209;centralized / blockchain&#8209;powered platforms surfaced.
                </p>

                <p class="col_ShortLine">
                    Ethereum &#8209;&#8209; a blockchain ledger with an integrated programming language was released.
                </p>

                <p class="col_ShortLine">
                    “Smart contracts” extended Ethereum’s capabilities beyond the simple exchange of financial items and moved the Web 3.0 vision toward:
                </p>
            </div>
        </div>
        <div class="d-flex w-15"></div>
    </div>
    <div>
        @*Heading*@
        @*3-column-block*@
        <div class="av_content d-flex">
            @*left margin*@
            <div class="border10 w-20"></div>
            @*middle text body*@
            <div class="d-flex w-60 flex-column m-3 justify-content-center" style="font-size: 16px; font-weight:500">
                <p class="d-flex justify-content-center">
                    a more secure, trustworthy and globally accessible internet for agreements, finance, auditing, tracking and simple websites and web applications that use decentralized technology to overcome some of the practical, political and technological inefficiencies of previous approaches
                </p>
            </div>
            <div class="test20 w-15"></div>
        </div>
        <div class="d-flex justify-content-end">
            <p class="d-flex justify-content-end" style="font-size: 14px; font-weight: 500; margin:0;">
                Gavin Wood
            </p>
            <p class="d-flex w-30"></p>
        </div>
        <div class="d-flex justify-content-end">
            <span class="d-flex justify-content-end" style="margin: 0;font-size: 14px; font-weight: 500">
                D&#8209;aps: What Web 3.0 Looks Like
            </span>
            <span class="d-flex w-30"></span>
        </div>
    </div>
</section>
<section style="padding-top: 10px">
    <div class="d-flex flex-column" style="text-align:center;">
        <p class="d-flex display-4 justify-content-center" style="text-align:center">
            The AvantTek Solution
        </p>
        @* <p class="icntitleb display-4 p-2 m-4" style="color: #00bcf2; font-weight: 400; font-size: 38px">
                Platform Components
            </p>
            <p class="icntitle p-2 m-4" style="color: #00bcf2; font-weight: 400; font-size: 38px">
                The AvantTek Solution
            </p> *@
    </div>

</section>
@*<section id="features" style="background-color: #313155; padding-top: 20px">*@
<section class="p-5" id="features" style="background-color: #313155;">


    <div>
        <picture class="d-flex flex-row justify-content-center">
            <source media="(min-width: 700px)" srcset="~/Red/img/WordCloud.png">
            <source media="(min-width: 200px)" srcset="~/Red/img/mobileWordCloud.PNG">
            <img src="~/Red/img/mobileWordCloud.PNG" alt="Tools" />
        </picture>
        @*<div class="container">
                <h3 class="d-flex flex-row justify-content-center">
                    &lt &lt Dev-Tools >>
                </h3>
            </div>*@
        <picture class="d-flex flex-row justify-content-center">
            <source media="(min-width: 700px)" srcset="~/Red/img/ether.PNG">
            @*<source media="(min-width: 200px)" srcset="~/Red/img/mobileEther.PNG">
                <img src="~/Red/img/mobileEther.PNG" alt="Ethereum" />*@
            <source media="(min-width: 200px)" srcset="~/Red/img/self-responsiveMobileEth.PNG">
            <img src="self-responsiveMobileEth.PNG" alt="Ethereum" />
        </picture>

        @*<div class="container">
                <h3 class="d-flex flex row justify-content-center">
                    &lt &lt Blockchain Ledger >>
                </h3>
            </div>*@
        <picture class="d-flex flex-row justify-content-center">
            <source media="(min-width: 700px)" srcset="~/Red/img/Azure.png">
            <source media="(min-width: 200px)" srcset="~/Red/img/mobileAzure.PNG">
            <img src="~/Red/img/mobileAzure.PNG" alt="Cloudy">
        </picture>
        @*<div class="container">
                <h3 class="d-flex flex row justify-content-center">
                    &lt &lt Cloud Platform >>
                </h3>
            </div>*@
    </div>
</section>
<section id="newsletter" data-ng-app="app-email">
    <div data-ng-controller="emailController as vm" class="d-flex justify-content-center">
        @*<div ID="emailtest" style="padding-top: 75px" class="data-ng-app">*@
        <div ID="emailtest" class="d-flex flex-column data-ng-app p-0">
            <span class="d-flex display-4 px-5 pt-0">Building The Solution</span>
            <div>
                <ul class="d-flex flex-column mx-5 mt-3 justify-content-start" style="font-size:22px; text-align:left;">
                    <li><span class="d-flex ml-3" style="position: relative; left:5px;">Dev Tools</span></li>

                    <li><span class="d-flex ml-3" style="position: relative; left:5px">Distributed Ledger</span></li>
                    <li><span class="d-flex ml-3" style="position: relative; left:5px">Cloud Hosting</span></li>
                </ul>
            </div>
            <form novalidate name="myForm" class="form-inline justify-content-center" data-ng-submit="vm.SendGridAlphaInterested(vm.email.text)">
                <div class="d-flex flex-row justify-content-center">
                    <input type="email" name="input" class="input-sm" data-ng-model="vm.email.text" required />
                    <button data-ng-click='validateEmail()' type="submit" class="btn btn-secondary">Send Me Updates</button>
                </div>
            </form>
            <!-- <div class="d-flex flex-column justify-content-center"> -->
            <p id="emErr" data-ng-show="myForm.input.$invalid && myForm.input.$dirty"
               class="d-flex flex-column justify-content-center"
               style="font-size: 20px">
                A valid email is required
            </p>
            <!-- </div> -->
        </div>

    </div>
</section>

<footer style="background-color:#4D738A" class="d-flex justify-content-center p-5">
    @*<footer class="d-flex justify-content-center m-3" style="padding-top: 25px; padding-bottom: 25px">*@
    <p>
        AvantTek Solutions Inc.  New York, NY
    </p>
</footer>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script>
    $(function () {
        $(window).on("load resize", function () {
            $(".fill-screen").css("height", window.innerHeight);
        });

    });
</script>
