<!DOCTYPE html>
<html lang="en">
<head>
<title>publications</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Your description">
<meta name="keywords" content="Your keywords">
<meta name="author" content="Your name">
<link rel="icon" href="images/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

<link rel="stylesheet" href="css/bootstrap.css" type="text/css" media="screen">
<link rel="stylesheet" href="css/bootstrap-responsive.css" type="text/css" media="screen">
<link rel="stylesheet" href="css/prettyPhoto.css" type="text/css" media="screen">
<link rel="stylesheet" href="css/style.css" type="text/css" media="screen">

<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="js/superfish.js"></script>

<script type="text/javascript" src="js/jquery.ui.totop.js"></script>

<script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>

<script>
$(document).ready(function() {
	//





	$("a[rel^='prettyPhoto']").prettyPhoto({animation_speed:'normal',theme:'dark',social_tools:false,allow_resize: true,default_width: 500,default_height: 344});


}); //
$(window).load(function() {
	//

}); //
</script>
<!--[if lt IE 8]>
		<div style='text-align:center'><a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://www.theie6countdown.com/images/upgrade.jpg"border="0"alt=""/></a></div>
	<![endif]-->

<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
<![endif]-->
</head>

<body class="not-front">
<div id="main">

<div class="top1_wrapper">
<div class="container">
<div class="top1 clearfix">

<div class="today1">today is: <span>Tuesday, 24 of may, 2014</span></div>

<div class="phone1">have what to say? call: <b>1 800 123 4567</b></div>

</div>
</div>
</div>

<div class="top2_wrapper">
<div class="container">
<div class="top2 clearfix">

<div class="row">
<div class="span3">
	<div class="slogan1_wrapper"><div class="slogan1">the best news<br>from the first hands</div></div>
</div>
<div class="span6">
	<div class="logo_wrapper"><a href="index.html" class="logo"><img src="images/logo.png" alt=""></a></div>
</div>
<div class="span3">
	<div class="social_wrapper">
		<ul class="social clearfix">
		    <li><a href="#"><img src="images/social_ic1.png"></a></li>
		    <li><a href="#"><img src="images/social_ic2.png"></a></li>
		    <li><a href="#"><img src="images/social_ic3.png"></a></li>
		    <li><a href="#"><img src="images/social_ic4.png"></a></li>
		</ul>
	</div>
</div>
</div>

</div>
</div>
</div>

<div class="top3_wrapper">
<div class="container">
<div class="top3 clearfix">

<div class="navbar navbar_">
	<div class="navbar-inner navbar-inner_">
		<a class="btn btn-navbar btn-navbar_" data-toggle="collapse" data-target=".nav-collapse_">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</a>
		<div class="nav-collapse nav-collapse_ collapse">
			<ul class="nav sf-menu clearfix">
				<li><a href="index.html">Home</a></li>
				<li><a href="index-1.html">Video</a></li>
				<li><a href="index-2.html">world</a></li>
				<li><a href="index-3.html">hot news</a></li>
				<li><a href="index-4.html">economy</a></li>
				<li class="active"><a href="index-5.html">publications</a></li>
				<li><a href="index-6.html">galleries</a></li>
				<li><a href="index-7.html">contacts</a></li>
			</ul>
			<ul class="nav2 clearfix">
				<li><a href="#">Lorem ipsum</a></li>
				<li><a href="#">consectetue</a></li>
				<li><a href="#">Adipiscing</a></li>
				<li><a href="#">Dignissim et</a></li>
				<li><a href="#">libero</a></li>
			</ul>
		</div>
	</div>
</div>

</div>
</div>
</div>

<div class="breadcrumbs1_wrapper">
<div class="container">
<div class="breadcrumbs1"><a href="index.html">Home page</a><span></span><a href="index.html">Pages</a><span></span>Publications</div>
</div>
</div>



<div class="container">
<div id="content">
<div class="row">
<div class="span9">

<h1>Publications</h1>

<p>
	<b>
		Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque ac risus justo. Curabitur congue quam augue, sit amet tincidunt lacus commodo in. Proin sodales imperdiet sapien, et facilisis tortor ullamcorper id. Etiam feugiat pellentesque turpis, nec auctor nisi placerat eget. Nullam pharetra risus mauris, eu lacinia odio lacinia a. In sit amet quam a magna sollicitudin mollis.
	</b>
</p>

<p>
	Vivamus ornare viverra lacus. Fusce id sapien. Donec rhoncus, enim sit amet sodales elementum. Elit odio sagittis erat, at tincidunt leo neque non pede. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris ac leo. Aliquam magna nibh, tincidunt ut, lobortis feugiat, consectetuer sed, sapien. Aenean dui eros, tempus non, pulvinar in, vestibulum sed, urna. Nullam eget arcu a pede adipiscing vestibulum. Donec accumsan lacus nec dolor.  Aenean dui eros, tempus non, pulvinar in, vestibulum sed, urna. Nullam eget arcu a pede adipiscing vestibulum. Donec accumsan lacus nec dolor.
</p>

<div class="row">
<div class="span3">
<ul class="ul1">
	<li><a href="#">Quisque nullatibulum</a></li>
	<li><a href="#">Scelerisque eget</a></li>
	<li><a href="#">Vivamus eget niiam cursus</a></li>
	<li><a href="#">Nulla facilisinean nec</a></li>
</ul>
</div>
<div class="span3">
<ul class="ul1">
	<li><a href="#">Quisque nullatibulum</a></li>
	<li><a href="#">Scelerisque eget</a></li>
	<li><a href="#">Vivamus eget niiam cursus</a></li>
	<li><a href="#">Nulla facilisinean nec</a></li>
</ul>
</div>
<div class="span3">
<ul class="ul1">
	<li><a href="#">Quisque nullatibulum</a></li>
	<li><a href="#">Scelerisque eget</a></li>
	<li><a href="#">Vivamus eget niiam cursus</a></li>
	<li><a href="#">Nulla facilisinean nec</a></li>
</ul>
</div>
</div>

<br>

<div class="row">
<div class="span3">
<div class="thumb2 last">
	<div class="thumbnail clearfix">
		<figure class=""><img src="images/publications01.jpg" alt=""></figure>
	</div>
</div>
</div>
<div class="span3">
<div class="thumb2 last">
	<div class="thumbnail clearfix">
		<figure class=""><img src="images/publications02.jpg" alt=""></figure>
	</div>
</div>
</div>
<div class="span3">
<div class="thumb2 last">
	<div class="thumbnail clearfix">
		<figure class=""><img src="images/publications03.jpg" alt=""></figure>
	</div>
</div>
</div>
</div>

<p>
	Vivamus ornare viverra lacus. Fusce id sapien. Donec rhoncus, enim sit amet sodales elementum. Elit odio sagittis erat, at tincidunt leo neque non pede. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris ac leo. Aliquam magna nibh, tincidunt ut, lobortis feugiat, consectetuer sed, sapien. Aenean dui eros, tempus non, pulvinar in, vestibulum sed, urna. Nullam eget arcu a pede adipiscing vestibulum. Donec accumsan lacus nec dolor.  Aenean dui eros, tempus non, pulvinar in, vestibulum sed, urna. Nullam eget arcu a pede adipiscing vestibulum. Donec accumsan lacus nec dolor.
</p>





</div>
<div class="span3">

<h3>Recent</h3>



<p>
	<a href="#">Eharetra ipsum condimentum elit. </a>
</p>
<p>
	Per inceptos hymenaeos. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris ac leo. Aliquam magna nibh, tincidunt ut, lobortis feugiat, consectetuer <a href="#">read more</a>
</p>

<br>

<p>
	<a href="#">Worte in detra ipsum condimentum </a>
</p>
<p>
	Hymenaeos. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris ac leo. Aliquam magna nibh, tincidunt ut, er inceptos hlobortis feugiat, consectetuer <a href="#">read more</a>
</p>

<br>

<p>
	<a href="#">Pharetra ipsum condimentum elit. </a>
</p>
<p>
	Hymenaeos. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris ac leo. Aliquam magna nibh, tincidunt ut, er inceptos hlobortis feugiat, consectetuer <a href="#">read more</a>
</p>

<br>

<p>
	<a href="#">Eharetra ipsum condimentum elit. </a>
</p>
<p>
	Per inceptos hymenaeos. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris ac leo. Aliquam magna nibh, tincidunt ut, lobortis feugiat, consectetuer <a href="#">read more</a>
</p>








</div>
</div>
</div>
</div>

<div class="bot1_wrapper">
<div class="container">
<div class="bot1 clearfix">

<div class="menu_bot">
    <ul id="menu_bot" class="clearfix">
      <li><a href="index.html">Home</a></li>
      <li><a href="index-1.html">Video</a></li>
      <li><a href="index-2.html">world</a></li>
      <li><a href="index-3.html">hot news</a></li>
      <li><a href="index-4.html">economy</a></li>
      <li><a href="index-5.html">publications</a></li>
      <li><a href="index-6.html">galleries</a></li>
      <li><a href="index-7.html">Contacts</a></li>
    </ul>
</div>

</div>
</div>
</div>

<div class="bot2_wrapper">
<div class="container">
<div class="bot2 clearfix">

<footer class="clearfix">

<div class="txt1">HOT NEWS</div>

<div class="txt2">/</div>

<div class="txt3">Copyright © 2014. All rights reserved.</div>

</footer>

</div>
</div>
</div>









</div>
<script type="text/javascript" src="js/bootstrap.js"></script>
</body>
</html>